.date{
    font-weight: "bold";
}

.form-group {
    margin:0;
    padding:30px ;

   
}

.form-control {
  padding: 7px 22px 7px 33px;
  background-color: rgb(224, 220, 220);
  margin-top: 2px;
  color:black;
  font-size: 15px;
  font-weight: 500;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:20px;
    height: 35px;
    border-radius: 50px 0  0 50px !important;
}
.form-control :focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: transparent;

    }

#searchbtn
{ border:none;
  padding: 0px 5px;

  margin-top: 2px;
  color: black;
  background-color: rgb(224, 220, 220);
  font-size: 15px;
  font-weight: 500;
    
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:25px;
    height: 35px;
border-radius: 0 50px 50px 0 !important;
}

.add{
    padding: 6px;
    
}
