


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <i class="fa fa-address-book" style="font-size:30px;color:red"></i>
      </li>
      <li class="nav-item">
        <div><b>Contacts</b></div>
        <div style="font-size: 10px;"> Welcome to FlatCRM Contact Page</div>
      </li>
      <li class="nav-item">
        <div>Sort by:<select>
          <option value=""><b>Date Created</b></option>
        </select></div>
      </li>
    </ul>
  </div>

<br>

<nav class="navbar navbar-light bg-light"> 
  <div class="container">
   
	<div class="row">
              <div class="col-md-4">
                    <form action="#" method="#" role="search">
                      <div class="input-group">
                      <input class="form-control" placeholder="Search Contacts" name="srch-term" id="ed-srch-term" type="text">
                          <div class="input-group-btn">
                             <button type="submit" id="searchbtn">
                             <i class="fa fa-search"></i></button>
                          </div>
                      </div>
                   </form>
              </div>
  
	
              <div class="col-md-8">
                    <div class="add" style="padding-right:712px; padding-top: 1px;">
                      <button type="button" style="background-color: red; color: white; border:none; padding-top: 3px;">+AddContact</button>
                    </div>
              </div>
  </div>

  </div>
   
</nav> 
</div>