

<nav class="navbar navbar-light bg-light">
  <div class="row">
    <div  class="col"><i class="fa fa-search"></i></div>
    
    <div class="col" style="padding-top: 2px; padding-left: 750px;">
    <button type="button">+Add</button></div>
  
    <div class="col" ><i class="fa fa-envelope" style="background-color: white;"></i></div>
  <div class="col" style="padding-top: 4px;">
    <select name="" id="">
      <option value="">Mark Henry</option>
    </select>
  </div>

    
    <div class="col" >
    <i class="fa fa-bell"></i>
    </div>
    
  </div>
  </nav>
  



