<div class=row>
<div class="col-md-1">
  <div class="w3-sidebar w3-bar-block w3-xxlarge" style="width:70px; background-color: orangered; color: white">
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bars"></i></a> <br>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-male"></i></a> 

    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-globe"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-trash"></i></a> 
  </div>
</div>
<div class="col-md-11">
  <app-nav></app-nav>
  <app-header></app-header>
  <app-body></app-body>
</div>
</div>